language: java
script: mvn clean verify
jdk:
  - openjdk6
  - oraclejdk7
  - oraclejdk8
sudo: false
cache:
  directories:
  - $HOME/.m2

 before_install:
  - sed -i.bak -e 's|https://nexus.codehaus.org/snapshots/|https://oss.sonatype.org/content/repositories/codehaus-snapshots/|g' ~/.m2/settings.xml